#bio {
  margin: 1rem auto 4rem auto;
  padding: 3rem 0;
  background-color: #F4F6F7;
  box-shadow: 5px 8px 16px 5px rgba(0, 0, 0, 0.2); }
  #bio .bio_block {
    display: flex;
    margin: 0 auto;
    color: #242B3B; }
    #bio .bio_block .biopic {
      display: block;
      max-width: 275px;
      max-height: 250px;
      margin-left: 0 auto;
      padding: 0 1rem 0 1rem; }
    #bio .bio_block h1 {
      text-align: left; }
    #bio .bio_block p {
      padding: 0 1rem; }
