//-------header styles------//

#header {
  background-image: url("/images/test_01.jpg");
  height: 100vh;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  h1 {
    font-family: "viktor-script";
    font-size: 4em;
    color: white;
    font-weight: 100;
    text-shadow: 2px 2px 8px #000000;
  }

}
